
.Image-Canvas{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 950px;
    height: 70%;
    background-color:var();
    /* border: 3px solid var(--clear-react-blue-tone); */
    position: absolute;
    top: 100px;
}


.Loading-Message{
    color: var(--clear-react-blue-tone);
    font-size: xx-large;
}

.dogImage{
    max-width: 900px;
    max-height: 600px;
}