
.Image-Canvas{
    display: inline-block;
    width: 800px;
    height: 600px;
    background-color: white;
    border: 3px solid var(--clear-react-blue-tone);
    position: absolute;
    top: 100px;
}