*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background: #282C34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 939px;
}

main{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.Image-Cont{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Controls-Cont{
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
